.frontEndText {
  font-weight: 700;
  font-size: 70px;
  margin: 2% 0 2% 0;
}

.name {
  font-weight: 500;
  font-size: 50px;
  margin: 2% 0 2%;
}


.cover-letter {
  width: 40%;
  font-size: 25px;
}


.converAndContactWrapper{
  display: flex;
}

.codeSnipped {
  margin: 30px 10px 0 10px;
}

.snipperGrid {
  grid-template-areas: 
  'a b c ';
}

.socialCard {
  margin-bottom: 10%;
}

.socialCards {
  margin-left: 25%;
  bottom: 75px;
  width: 20%;
}

@media screen and (max-width: 1160px) {
  .socialCards{
  width: 80%;
  margin: 10% 0 
}
.socialCard{
  margin-bottom: 4%;
  width: auto;
  font-size: 10px;
}
.frontEndText{
  font-size: 22px;
  margin: 50px auto;
}
.name{
  font-size: 25px;
}
.converAndContactWrapper{
  display: block;
}
.cover-letter{
  width: 100%;
  font-size: 15px
};
}
