@import url('https://fonts.googleapis.com/css2?family=Buenard:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yrsa:wght@300&display=swap');

.text {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  font-family: 'Buenard', serif;
  margin: 1%;
}


.contentSwitcher {
  width: 50%;
  margin: 3% auto 5% auto;
  display: flex;
}

p {
  font-family: 'Yrsa', serif;
}

.switcher {
  border-radius: 50px;
  background: #ffffff;
  height: 100%;
  width: 90%;
  margin: 4% auto 4% 10%;
}


.AccordionComp {

  background: #ffffff;
  height: 100%;
  width: 50%;
  margin: 4% auto
}

@media screen and (max-width: 768px) {
  .switcher{
  margin: 0 auto
};
}