.nameTxt {
    margin: auto 0 auto 5%;
}

.companyLogo {
    height: 45px;
    width: 45px;
}

@media screen and (max-width: 768px) {
    .companyLogo{
        height: 25px;
        width: 25px;
    }
    .nameTxt{
        font-size: 12px
    }
  }