.bx--accordion__content {
  padding: 0;
  margin: 0 auto;
}

.dates {
  margin: 0 0 0 33%;
  width: 100%;
}

.githubCard {
  width: 50%;
}

.githubImg {
  width: 600px;
}

.techs {
  width: 65%;
}

.dateAndCard {
  display: flex;
}

.currentJob-logo {
  width: 400px;
  height: 200px;
  margin-right: 100px;
}

@media screen and (max-width: 768px) {
  .githubImg {
    width: 300px;
  }
  .dates {
    margin: 0 0 0 0;
    width: 100%;
  }
  .dateAndCard {
    display: block;
    margin: 10px 0;
  }
  .techs {
    width: 95%;
  }

  .githubImg {
    width: 339px;
  }
  .dates {
    margin: 0 0 0 0;
    width: 100%;
  }
  .dateAndCard {
    display: block;
    margin: 10px 0;
  }
  .techs {
    width: 95%;
  }
}
