.box-wrapper {
  border-radius: 50px;
  background: #ffffff;
  height: 700px;
  width: 90%;
  margin: 4% auto;
}

.frontEndText {
  font-weight: 700;
  font-size: 60px;
  margin: 2% 0 4% 0;
}

.name {
  font-weight: 500;
  font-size: 50px;
  margin: 2% 0;
}


.cover-letter {
  width: 40%;
  font-size: 30px;
}
