.frontEndText {
  font-weight: 700;
  font-size: 60px;
  margin: 2% 0 2% 0;
}

.name {
  font-weight: 500;
  font-size: 50px;
  margin: 2% 0 2%;
}


.cover-letter {
  width: 40%;
  font-size: 30px;
}

.codeSnipped {
  margin: 30px 10px 0 10px;
}

.snipperGrid {
  grid-template-areas: 
  'a b c ';
}

.socialCard {
  margin-bottom: 10%;
}

.socialCards {
  margin-left: 25%;
  position: relative;
  bottom: 75px;
}